In [1]:
import pandas as pd

from src.data.loaders import CommodityLoader

In [2]:
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

In [3]:
df_santos = CommodityLoader.load_commodity('acucar_santos', monthly_aggregation=False)
df_sp = CommodityLoader.load_commodity('acucar_sp', monthly_aggregation=False)

In [4]:
df = CommodityLoader.load_all_commodities(monthly_aggregation=False)

ദ്ദി・ᴗ・)✧ acucar_santos carregado com sucesso
ദ്ദി・ᴗ・)✧ acucar_sp carregado com sucesso
ദ്ദി・ᴗ・)✧ algodao carregado com sucesso
ദ്ദി・ᴗ・)✧ arroz carregado com sucesso
ദ്ദി・ᴗ・)✧ cafe_arabica carregado com sucesso
ദ്ദി・ᴗ・)✧ cafe_robusta carregado com sucesso
ദ്ദി・ᴗ・)✧ milho carregado com sucesso
ദ്ദി・ᴗ・)✧ soja_parana carregado com sucesso
ദ്ദി・ᴗ・)✧ soja_paranagua carregado com sucesso
ദ്ദി・ᴗ・)✧ trigo_parana carregado com sucesso
ദ്ദി・ᴗ・)✧ trigo_rs carregado com sucesso

In [4]:
df_santos.head()

          ds      y      unique_id
0 2020-01-02  65.40  ACUCAR_SANTOS
1 2020-01-03  66.80  ACUCAR_SANTOS
2 2020-01-06  68.92  ACUCAR_SANTOS
3 2020-01-07  68.85  ACUCAR_SANTOS
4 2020-01-08  68.32  ACUCAR_SANTOS

In [5]:
df_santos.tail()

             ds       y      unique_id
1325 2025-04-30  130.79  ACUCAR_SANTOS
1326 2025-05-02  129.39  ACUCAR_SANTOS
1327 2025-05-05  131.45  ACUCAR_SANTOS
1328 2025-05-06  132.94  ACUCAR_SANTOS
1329 2025-05-07  131.12  ACUCAR_SANTOS

In [6]:
df_santos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330 entries, 0 to 1329
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ds         1330 non-null   datetime64[ns]
 1   y          1330 non-null   float64
 2   unique_id  1330 non-null   object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 31.3+ KB

In [7]:
df_sp.head()

          ds      y  unique_id
0 2003-05-20  29.65  ACUCAR_SP
1 2003-05-21  29.26  ACUCAR_SP
2 2003-05-22  28.81  ACUCAR_SP
3 2003-05-23  28.35  ACUCAR_SP
4 2003-05-26  27.83  ACUCAR_SP