In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

In [5]:
df_brl = pd.read_parquet('../../../data/all_comm/all_commodities_brl.parquet')

In [6]:
df_brl.head()

          ds      y      unique_id
0 2020-01-02  65.40  ACUCAR_SANTOS
1 2020-01-03  66.80  ACUCAR_SANTOS
2 2020-01-06  68.92  ACUCAR_SANTOS
3 2020-01-07  68.85  ACUCAR_SANTOS
4 2020-01-08  68.32  ACUCAR_SANTOS

In [7]:
df_brl.tail()

              ds        y unique_id
59356 2025-04-24  1476.85  TRIGO_RS
59357 2025-04-25  1476.85  TRIGO_RS
59358 2025-04-28  1483.36  TRIGO_RS
59359 2025-04-29  1473.82  TRIGO_RS
59360 2025-04-30  1471.23  TRIGO_RS

In [8]:
df_brl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59361 entries, 0 to 59360
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ds         59361 non-null  datetime64[ns]
 1   y          59361 non-null  float64
 2   unique_id  59361 non-null  object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 1.4+ MB

In [23]:
def split_series(df):
    train_list = []
    val_list = []
    test_list = []

    for uid, group in df.groupby('unique_id'):
        n = len(group)
        
        train_end = int(n * 0.7)
        test_start = train_end
        
        val_start = int(train_end * 0.8)
        
        train = group.iloc[:val_start].copy()
        val = group.iloc[val_start:train_end].copy()
        test = group.iloc[test_start:].copy()
        
        train_list.append(train)
        val_list.append(val)
        test_list.append(test)

        df_train = pd.concat(train_list).reset_index(drop=True)
        df_val = pd.concat(val_list).reset_index(drop=True)
        df_test = pd.concat(test_list).reset_index(drop=True)

        return df_train, df_val, df_test

# Treino - Validação - Teste (70:20:30)

In [24]:
train, val, test = split_series(df_brl)

In [25]:
train.head()

          ds      y      unique_id
0 2020-01-02  65.40  ACUCAR_SANTOS
1 2020-01-03  66.80  ACUCAR_SANTOS
2 2020-01-06  68.92  ACUCAR_SANTOS
3 2020-01-07  68.85  ACUCAR_SANTOS
4 2020-01-08  68.32  ACUCAR_SANTOS